<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244722441955-4i99qkjfqfp4v1dpah9d25q5jc61vcru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244722441955-4i99qkjfqfp4v1dpah9d25q5jc61vcru</string>
	<key>API_KEY</key>
	<string>AIzaSyAWhZ16FlkJdtqD2JVRlP_TfaM0OhzAxfY</string>
	<key>GCM_SENDER_ID</key>
	<string>244722441955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JRTech.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-6423a</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-6423a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244722441955:ios:b7e1ee826d62f0ef</string>
	<key>DATABASE_URL</key>
	<string>https://artable-6423a.firebaseio.com</string>
</dict>
</plist>